<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/blog-style.css">
    <title> Post </title>
</head>
<body>
    <span style="display: none"> {{id}} </span>
    <section class="show-blog">
        <h3 class="blog-title"></h3>
        <header class="blog-heading">
            <span class="blog-owner"></span>
            <span class="blog-updated-at"></span>
            <button class="blog-like-update">Like</button><span class="blog-likes"></span>
        </header>
        <p class="blog-content"></p>
    </section>
    <script src="/js/blog-post.js"></script>
</body>
</html>
