<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>

<style>
    div {
        margin: 20px 10px;
    }
</style>
<body>
    
    <form action="user/register" method="post">

        {{#if error_message}}
        <p style="color: red"> {{error_message}} </p>
        {{/if}}
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
        </div>
        
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
        </div>
        
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </div>
        
        <div>
            <label for="bio">Bio:</label>
            <textarea name="bio" id="bio" cols="20" rows="3"></textarea>
        </div> 

        <div>
            <input type="submit"/>
        </div>
    </form>

</body>
</html>