* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar, .navbar-register {
    height: 60px;
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbar svg {
    width: 150px;
    position: relative;
    left: 20px;
    top: 15px;
}

.navbar-register svg {
    width: 180px;
    position: relative;
    top: 15px;
}

.nav-links {
    position: absolute;
    right: 10px;
    top: 15px;
}

.btn-write, .btn-register, .btn-signin {
    width: 4.37rem;
    padding: 0.5rem;
    border: none;
    letter-spacing: 0.05rem;
    border-radius: 1.5rem;
    color: white;
    background: #2563eb;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    margin: 0 0.1rem;
}

.btn-register {
    width: 5.5rem;
}

.btn-register:hover, .btn-signin:hover, .btn-logout:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}

.btn-write:hover, .btn-write-home:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}

.body-index {
    background: #F4EEE0;
}

/* SignUp page */
.navbar-register {
    text-align: center;
    background: white;
}

.body-register, .body-login {
    background: #F0F0F0;
}

.logo-register:hover {
    cursor: pointer;
}

.signup-section, .login-section {
    text-align: center;
    margin-top: 5rem;
}

.signup-section h3, .login-section h3 {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    background: -webkit-linear-gradient(#2563eb, #9333ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.registeration-form, .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registeration-form input, .bio-reg, .login-form input {
    width: 30rem;
    height: 2.5rem;
    color: rgb(90, 86, 86);
    background: white;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
}

.registeration-form .bio-reg {
    min-width: 30rem;
    max-width: 30rem;
    overflow-y: hidden;
}

.registeration-form input:focus, .bio-reg:focus, .login-form input:focus {
    outline: none;
    border-bottom: 2px solid #2563eb;
}

.submit-register, .submit-login {
    width: 10rem;
    height: 2rem;
    margin-top: 1.8rem;
    border: none;
    border-radius: 1.5rem;
    background: #2563eb;
    color: white;
    font-size: 0.85rem;
    letter-spacing: 0.05rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.submit-register:hover , .submit-login:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}

.status-reg, .status-login {
    margin-top: 1rem;
    color: red;
}



/* Index Page */
.all-blogs-list {
    width: 70%;
    margin: 3rem auto;
}

.individual-blog {
    border-radius: 1rem;
    background: white;
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
}

.blog-username {
    color: #0f172a;
    font-size: 0.9rem;
    font-family: sans-serif;
    margin: 0.1rem 0;
}

.blog-updatedTime {
    color: #64748b;
    margin: 0.3rem 0;
}

.blog-title {
    color: #0f172a;
    margin: 0.3rem 0;
}

.blog-content {
    color: #475569;
    margin: 0.3rem 0;
}

.blog-likes {
    color: #334155;
    margin: 0.3rem 0;
}



/* Home page */
.btn-write-home, .btn-logout {
    width: 4.37rem;
    padding: 0.5rem;
    border: none;
    letter-spacing: 0.05rem;
    border-radius: 1.5rem;
    color: white;
    background: #2563eb;
    margin: 0 0.1rem;
    position: relative;
    bottom: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.btn-write-home:hover, .btn-logout:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}

.user-icon {
    width: 1.7rem;
    height: 1.7rem;
    border: none;
    border-radius: 50%;
    position: relative;
    top: 0.08rem;
    background: gray;
    margin: 0 0.2rem;
}

.user-icon:hover {
    cursor: pointer;
}

/* User Profile */
.profile-section span {
    display: block;
    padding: 0.5rem 2rem;
}

.posts-create {
    width: 4rem;
    height: 2rem;
    margin: 1rem 2rem;
    border: none;
    background: rgb(124, 190, 25);
    color: white;
}

.posts-create:hover {
    cursor: pointer;
}

.posts-create:focus {
    border: 2px solid white;
}

.blog-edit:hover, .blog-delete:hover {
    cursor: pointer;
}

.blog-edit {
    display: block;
    width: 4rem;
    height: 2rem;
    margin-top: 0.3rem;
    background: #2563eb;
    color: white;
    border: none;
}

.blog-delete {
    width: 4rem;
    height: 2rem;
    margin-top: 0.3rem;
    background: rgb(246, 58, 58);
    color: white; 
    border: none;  
}


/* Edit Post */

.edit-blog-body, .create-blog-body {
    padding: 1rem;
}

.edit-blog-title * , .edit-blog-description *, .create-blog-title *, .create-blog-description *{
    display: block;
}

.edit-post-title, .create-post-title {
    margin: 1rem;
    width: 80%;
    min-width: 50%;
    max-width: 80%;
    height: 2rem;
    font-size: medium;
}

.edit-post-content, .create-post-content {
    margin: 1rem;
    width: 80%;
    min-width: 50%;
    max-width: 80%;
}

.edit-post-content, .create-post-content {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}


.edit-submit, .create-submit {
    margin: 1rem;
    padding: 0.5rem;
    background: rgb(18, 88, 18);
    color: white;
    border: none;
}

.edit-submit:hover, .create-submit:hover {
    cursor: pointer;
}

.edit-submit:focus, .create-submit:focus {
    border: 1px solid black;
}